<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/student" method="post">
        <div>
            <label>
            학번: 
                <input type="text" name="stuNo">
            </label>
        </div>

        <div>
            <label>
            이름: 
                <input type="text" name="stuName">
            </label>
        </div>

        <div>
            <label>
            학과: 
                <input type="text" name="stuDept">
            </label>
        </div>

        <div> 
            <label>
                학년:
                <input type="text" name="stuGrade">
            </label>
        </div>
        <button type="submit">가입</button>
    </form>
</body>
</html>