<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/user" method="post">
        <div>
            <label>
            아이디: 
                <input type="text" name="id">
            </label>
        </div>

        <div>
            <label>
            비밀번호: 
                <input type="password" name="pwd">
            </label>
        </div>

        <div>
            <label>
            이름: 
                <input type="text" name="name">
            </label>
        </div>

        <div> 
            <label>
                성별:
                <input type="radio" name="gender" value="M">남
            </label>
            <label>    
                <input type="radio" name="gender" value="F">여
            </label>
        </div>
        <button type="submit">가입</button>
    </form>
</body>
</html>